# Byte-compiled / optimized / DLL files
__pycache__/
noteapp/views/__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# figure out a way to ignore venv properly 🤔
venv/

# ignore VS Code settings
.vscode/

*.note
*.pyc